.about {
    padding-top: calc(92px + (123 - 92) * ((100vw - 430px) / (1440 - 430)));
    &__title {
        margin: 0 auto;
        line-height: calc(48px + 11 * ((100vw - 430px) / (1440 - 430)));
        text-align: center;
    }
    &__title:nth-child(1) {
        margin-bottom: 8px;
    }
    &__title:nth-child(2) {
        margin-bottom: calc(27px + (88 - 27) * ((100vw - 430px) / (1440 - 430)));
    }
    &__logo {
        display: flex;
        align-items: center;
        padding-left: 8px;
        margin-top: 15px;
        gap: 16px;
       &_pic {
        width: calc(115px + (173 - 115) * ((100vw - 430px) / (1440 - 430)));
        height: calc(86px + (124 - 86) * ((100vw - 430px) / (1440 - 430)));
       }
    }
    &__link {
        display: flex;
        &_content {
            display: flex;
            flex-direction: column;
        }
        &_title {
            color: $light-blue-color;
            font-size: calc(20px + 22 * ((100vw - 430px) / (1440 - 430)));
            font-family: 'Roboto';
            font-weight: 900;
            margin: 0;
            margin-bottom: 3px;
            text-transform: uppercase;
        }
        &_text {
            font-size: calc(11px + 9 * ((100vw - 430px) / (1440 - 430)));
            font-family: 'Roboto';
            font-weight: 500;
            margin: 0;
            letter-spacing: calc(2px + 2 * ((100vw - 430px) / (1440 - 430)));
            text-transform: uppercase;
        }
    }
    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(15px + (20 - 15) * ((100vw - 430px) / (1440 - 430)));
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__text {
        max-width: 350px;
        font-size: calc(17px + 3 * ((100vw - 430px) / (1440 - 430)));
        line-height: calc(25px + 4 * ((100vw - 430px) / (1440 - 430)));
        padding-left: 10px;
    }
    &__image {
        width: calc(380px + (852 - 380) * ((100vw - 430px) / (1440 - 430)));
        border-radius: 37px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 1210px) {
    .about {
        &__items {
            flex-direction: column;
        }
}
}

@media (max-width: 450px) {
.about {
    &__title {
        text-align: left;
    }
    &__logo {
        padding-left: 0;
    }
    &__text {
        padding-left: 0;
    }
    &__image {
       height: 177px;
       img {
        border-radius: 25px;
       }
    }
    &__title:nth-child(1) {
        margin-bottom: -7px;
    }
    &__link {
        &_title {
            margin-bottom: 18px;
        }
    }
    &__content {
        padding-right: 55px;
    }
    &__text {
        max-width: 320px;
        margin-left: 0;
        margin-bottom: 8px;
    }
    &__logo {
        margin-bottom: 10px;
    }
}
}

@media (max-width: 390px) {
    .about {
        padding-top: 70px;
        &__title {
            width: 300px;
            line-height: 40px;
        }
        &__logo {
           &_pic {
            width: 100px;
            height: 71px;
           }
        }
        &__link {
            &_title {
                font-size: 16px;
                margin-bottom: 3px;
            }
            &_text {
                font-size: 9px;
                letter-spacing: 0;
            }
        }
        &__image {
            width: 270px;
         }
    }
}