.banner {
    background: url('../assets/img/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 12px;
    &__container {
        padding-left: calc(0px + (90 - 0) * ((100vw - 320px) / (1920 - 320)));
    }
    &__title {
        max-width: calc(260px + (618 - 260) * ((100vw - 320px) / (1920 - 320)));
        font-family: $titles-font;
        font-size: calc(40px + 15 * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(48px + 26 * ((100vw - 320px) / (1920 - 320)));
        padding-top:calc(235px + (295 - 235) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: 0;
    }
    &__text {
        max-width: calc(250px + (590 - 250) * ((100vw - 320px) / (1920 - 320)));
        font-size: calc(17px + 3 * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(25px + 4 * ((100vw - 320px) / (1920 - 320)));
        margin-top: 0;
        margin-bottom: 33px;
        letter-spacing: 1px;
    }
    &__button {
        padding: 12px 44px;
        margin-bottom: calc(100px + (217 - 100) * ((100vw - 320px) / (1920 - 320)));
    }
}


@media (max-width: 625px) {
.banner {
    background: url('../assets/img/banner-media.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 23px;
    }
    &__button {
        padding: 15px 23px;
    }
}

.banner .container {
    padding-left: 15px;
}
}

@media (max-width: 440px) {
    .banner {
        &__button {
                padding: 15px 18px;
    }
}
}

@media (max-width: 422px) {
    .banner {
        &__title {
            padding-top: 100px;
            font-size: 32px;
        }
}
}
