*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
html,
body {
  height: 100%;
  color: $main-color;
  font-family: $main-font;
  font-size: 18px;
  scroll-behavior: smooth;
}

.body-wrapper {
  position: relative;
  overflow: hidden;
  background: url('../assets/img/body-bg.png');
}

body.lock {
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1288px;
  margin: 0 auto;
}

@media (max-width: 1287px) {
  .container {
    padding: 0 25px;
  }
}

.big-title {
  font-family: $titles-font;
  font-size: calc(40px + 4 * ((100vw - 430px) / (1440 - 430)));
  text-align: center;
  font-weight: 700;
}

@media (max-width: 422px) {
  .big-title {
    font-size: 24px;
  }
}

.title-small {
  text-align: center;
  font-size: calc(30px + 4 * ((100vw - 430px) / (1440 - 430)));
  line-height:calc(36px + 5 * ((100vw - 430px) / (1440 - 430)));
  font-weight: 700;
  font-family: $titles-font;
}

.button {
  background-color: $accent-color;
  color: #ffffff;
  font-family: $titles-font;
  font-size: calc(17px + 1 * ((100vw - 430px) / (1440 - 430)));
  text-transform: uppercase;
  border-radius: 57px;
}

@media (max-width: 423px) {
  .button {
    font-size: 12px;
  }
}

.accent-color {
  color: $accent-color;
}

.accent-font {
  font-family: $titles-font;
  font-size: 25px;
  font-weight: 700;
}

.header-translation {
  background-color: $light-gray-color;
}
