@font-face {
    font-family: 'Alegreya Sans';
    src: local('AlegreyaSans-Bold'),
    url('../assets/fonts/Alegreya Sans/AlegreyaSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/Alegreya Sans/AlegreyaSans-Bold.woff') format('woff'),
    url('../assets/fonts/Alegreya Sans/AlegreyaSans-Bold.eot') format('eot'),
    url('../assets/fonts/Alegreya Sans/AlegreyaSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }

@font-face {
    font-family: 'Alegreya Sans';
    src: local('AlegreyaSans-Bold'),
    url('../assets/fonts/Alegreya Sans/AlegreyaSansSC-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Alegreya Sans/AlegreyaSans-Bold.woff') format('woff'),
    url('../assets/fonts/Alegreya Sans/AlegreyaSans-Bold.eot') format('eot'),
    url('../assets/fonts/Alegreya Sans/AlegreyaSans-Bold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
        }

@font-face {
    font-family: 'Orienta';
    src: local('Orienta-Regular'),
    url('../assets/fonts/Orienta/Orienta-Regular.woff2') format('woff2'),
    url('../assets/fonts/Orienta/Orienta-Regular.woff2') format('woff'),
    url('../assets/fonts/Orienta/Orienta-Regular.eot') format('eot'),
    url('../assets/fonts/Orienta/Orienta-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Medium'),
    url('../assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../assets/fonts/Roboto/Roboto-Black.woff') format('woff'),
    url('../assets/fonts/Roboto/Roboto-Medium.eot') format('eot'),
    url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    }

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Black'),
    url('../assets/fonts/Roboto/Roboto-Black.woff2') format('woff2'),
    url('../assets/fonts/Roboto/Roboto-Black.woff') format('woff'),
    url('../assets/fonts/Roboto/Roboto-Black.eot') format('eot'),
    url('../assets/fonts/Roboto/Roboto-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    }


