.footer {
        &__top {
        background-color: $light-gray-color;
        padding-top: 55px;
        padding-bottom: 38px;
    }
        &__items {
        max-width: 850px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: calc(20px + (100 - 20) * ((100vw - 320px) / (1920 - 320)));
    }
    &__container {
        &_second {
            display: flex;
            gap: calc(20px + (85 - 20) * ((100vw - 320px) / (1920 - 320)));
        }
    }
        &__logo {
        display: flex;
        align-items: center;
        padding-left: 9px;
        gap: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
       &_pic {
        width: calc(61px + (85 - 61) * ((100vw - 320px) / (1920 - 320)));
        height: calc(44px + (61 - 44) * ((100vw - 320px) / (1920 - 320)));
       }
    }
    &__link {
        display: flex;
        &_content {
            display: flex;
            flex-direction: column;
        }
        &_title {
            color: $light-blue-color;
            font-size: calc(19px + 6 * ((100vw - 320px) / (1920 - 320)));
            font-family: 'Roboto';
            font-weight: 900;
            margin: 0;
            margin-bottom: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320)));
            text-transform: uppercase;
        }
        &_text {
            font-size: calc(9px + 3 * ((100vw - 320px) / (1920 - 320)));
            font-family: 'Roboto';
            font-weight: 500;
            margin: 0;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
    &__contacts {
        color: $light-blue-color;
        font-family: $titles-font;
        padding-left: 9px;
        font-size: calc(24px + 18 * ((100vw - 320px) / (1920 - 320)));
    }
    &__socials {
        margin-right: 15px;
        margin-top: 15px;
        &_link {
            margin-right: calc(6px + (24 - 6) * ((100vw - 320px) / (1920 - 320)));
        }
        &_link:last-child {
            margin-right: 0;
        }
        &_img {
            width: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
            height: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
        }
    }
    &__address {
        max-width: 165px;
        font-size: calc(14px + 4 * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(14px + 12 * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: 5px;
    }
    &__company {
        max-width: 240px;
        font-size: calc(14px + 4 * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(14px + 12 * ((100vw - 320px) / (1920 - 320)));
    }
    &__mail {
        display: block;
        font-size: calc(14px + 4 * ((100vw - 320px) / (1920 - 320)));
        color: $accent-color;
        border-bottom: 1px solid $accent-color;
    }
    &__down {
        background-color: $bg-color;
        padding-top: 37px;
        padding-bottom: 67px;
    }
    &__confidenciality::after {
        content: '';
        border-bottom: 1px solid #ffffff;
        display: block;
        width: 100%;
        padding-top: 5px;
    }
    &__offer::after {
        content: '';
        border-bottom: 1px solid #ffffff;
        display: block;
        width: 100%;
        padding-top: 5px;
    }

    &__links {
        display: flex;
        justify-content: center;
        gap: calc(20px + (220 - 20) * ((100vw - 320px) / (1920 - 320)));
        margin-top: 5px;
    }
    &__confidenciality,
    &__offer {
        font-size: calc(14px + 4 * ((100vw - 320px) / (1920 - 320)));
        color: #ffffff;
    }
}

@media (max-width: 850px) {
    .footer {
        &__items {
            flex-direction: column;
        }
        &__container {
            &_first {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
            &_second {
                justify-content: space-between;
                gap: 30px;
            }
        }
        &__mail {
            display: inline-block;
        }
        &__company {
            margin-top: 15px;
            max-width: 188px;
        }
        &__links {
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 390px) {
    .footer {
        &__container {
            &_first {
                flex-direction: column;
                align-items: center;
            }
            &_second {
                display: block;
            }
        }
        &__links {
            gap: 20px;
        }
        &__address,
        &__company {
            line-height: 25px;
        }
    }
}   

