.translation-price {
    padding-top: 80px;
    padding-left: 12px;
    &__item {
        max-width: 1070px;
        background-color: #ffffff;
        border: 2px solid rgba(66, 111, 177, 0.28);
        border-radius: 40px;
        margin-bottom: calc(25px + (59 - 25) * ((100vw - 430px) / (1440 - 430)));
        &_second {
            margin-left: auto;
        }
    }
    &__title {
        text-align: left;
        &_first {
            padding-top: 20px;
            padding-left: calc(22px + (40 - 22) * ((100vw - 430px) / (1440 - 430)));
            margin-bottom: 8px;
        }
        &_second {
            padding-top: 30px;
            padding-left: calc(22px + (65 - 22) * ((100vw - 430px) / (1440 - 430)));
            margin-bottom: 16px;
        }
    }
    &__subtitle {
        font-size: calc(17px + 1 * ((100vw - 430px) / (1440 - 430)));
        line-height: 26px;
        margin-top: 0;
        &_first {
            padding-left: calc(22px + (42 - 22) * ((100vw - 430px) / (1440 - 430)));
            padding-bottom: 30px;  
        }
        &_second {
            max-width: 630px;
            text-align: right;
            padding-bottom: 32px;
            margin-left: auto;
            margin-right: 20px;
            padding-left: 25px;
        }
    }
}

@media (max-width: 620px) {
    .translation-price {
        &__title {
            &_small {
                text-align-last: left;
            }
        }
        &__subtitle {
            &_first {
                text-align: left;
                max-width: 320px;
            }
            &_second {
                text-align: left;
            }
        }
    }
}