.translation-questions {
    padding-top: calc(88px + (122 - 88) * ((100vw - 430px) / (1440 - 430)));
    &__container {
        max-width: 1073px;
        margin: 0 auto;
        padding-left: 12px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        border-radius: 40px;
        margin-bottom: 60px;
        &_second {
            position: relative;
        }
    }

    &__content {
        &_odd {
            border-radius: 40px 0 0 40px;
            padding-left: calc(32px + (68 - 32) * ((100vw - 430px) / (1440 - 430)));
        }
        &_even {
            padding-right: 40px;
            border-radius: 0 40px 40px 0;
        }
        &_title {
            font-family: $titles-font;
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
        }
        &_text {
            font-size: calc(17px + 3 * ((100vw - 430px) / (1440 - 430)));
            line-height: calc(25px + 4 * ((100vw - 430px) / (1440 - 430)));
            margin-bottom: 0;
        }
    }
    &__el {
        position: absolute;
        left: 310px;
        top: 160px;
    }
}

.translation-content_title_first {
    width: calc(326px + (300 - 326) * ((100vw - 430px) / (1440 - 430)));
    padding-top: 15px;
}
.translation-content_title_second  {
    width: 200px;
    text-align: right;
    padding-top: 30px;
    margin-left: auto;
    margin-right: 20px;
}
.translation-content_title_third {
    max-width: 470px;
    padding-top: 66px;
    padding-left: 12px;
}
.translation-content_title_fourth {
    max-width: 105px;
    padding-top: 35px;
    margin-left: auto;
    margin-right: 60px;
}

.translation-content_text_first {
    width: calc(307px + (334 - 307) * ((100vw - 430px) / (1440 - 430)));
    margin-top: 16px;
}
.translation-content_text_second {
    max-width: calc(320px + (390 - 320) * ((100vw - 430px) / (1440 - 430)));
    margin-left: auto;
    margin-right: 28px;
    text-align: right;
}
.translation-content_text_third {
    max-width: calc(324px + (403 - 324) * ((100vw - 430px) / (1440 - 430)));
    padding-left: 20px;
}
.translation-content_text_fourth {
    max-width: calc(308px + (330 - 308) * ((100vw - 430px) / (1440 - 430)));
    margin-right: 15px;
    margin-left: auto;
    text-align: right;
}

.strong-title {
    font-family: $titles-font;
    font-weight: 700;
    font-size:calc(30px + 14 * ((100vw - 430px) / (1440 - 430))) ;
}

.translation-questions__image img {
    vertical-align:bottom
}



@media (max-width: 950px) {
    .translation-questions {
        &__container {
            padding-left: 0;
        }
        &__item {
            flex-direction: column;
            max-width: 378px;
            margin: 0 auto;
            border-radius: 0;
            justify-content: center;
            border-radius: 40px;
            margin-bottom: 25px;
        }
        &__image {
            display: block;
            margin-left: auto;
        }
        &__content {
            &_even {
                order: -1;
            }
            &_even {
                padding-right: 0;
                padding-left: calc(32px + (68 - 32) * ((100vw - 430px) / (1440 - 430)));
            }
            &_text {
                margin-bottom: 20px;
            }
        }
        &__el {
            width: 97px;
            height: 77px;
            position: absolute;
            left: 270px;
            top: 390px;
        }
    }

}

@media (max-width: 450px) {
    .translation-questions {
        &__title {
            text-align: left;
            width: 100%;
            &_small {
                text-align: left;
                width: 100%;
            }
        }
        &__el {
            width: 97px;
            height: 77px;
            position: absolute;
            left: 270px;
            top: 390px;
        }
    }

    .translation-questions .container {
        padding: 25px;
    }
}

@media (max-width: 416px) {
    .translation-questions {
        &__el {
            left: 220px;
            top: 390px;
        }
    }
}

@media (max-width: 390px) {
    .translation-content_title_first {
        width: 220px;
    }
    .translation-content_text_first {
        width: 200px;
    }
}

@media (max-width: 370px) {
    .translation-questions {
        &__el {
            left: 180px;
            top: 390px;
        }
    }
}