$main-color: #0D123A;
$accent-color: #E83A23;
$light-blue-color: #426FB1;
$bg-color: #4F5059;
$light-gray-color: #F6F6F6;
$main-font: 'Orienta', sans-serif;
$titles-font: 'Alegreya Sans';
$form-title-color: #6F707C;